<html>
<head>
  <meta charset='utf-8'>
  <title>{{page.title}} OXOS.pl – web applications at work</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/stylesheet.css" >

  <meta description="Bespoke web applications. Super-Turbo-Rapid-Prototyping™ with Ruby on Rails.">
</head>
<body>

<div class="container">
  <header class="page-header">
    <h1>
      <a href='http://www.oxos.pl'><img src='./images/logo-medium.png' alt="OXOS.pl – web applications at work" ></a>
      <small>Bespoke web applications. Rapid prototyping.</small>
    </h1>
  </header>


  <div id='content'>
    {{content}}
  </div>

  <br /> <br /> <br /> <br />

  <footer>
  </footer>
</div>

</body>
</html>
